@{
    ViewBag.Title = "testts";
}

<h2>testts</h2>


<div id="container" style="width:100%; height:400px;"></div>


<script src="~/Scripts/highcharts/highcharts.js"></script>
<script src="~/Scripts/highcharts/dark-theme.js"></script>

<script src="~/Scripts/cabApp/controllers/testTS.js"></script>