<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.slate.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="~/Scripts/angular.js"></script>

    <script src="~/Scripts/snake.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

	@*подключение главных файлов для начальной структуры ангуляра*@
    <script src="~/Scripts/cabApp/xrater-app.js"></script>
</head>
<body ng-app="xraterApp">
   
    <div class="container body-content">
        @RenderBody()

        <hr />

    </div>

</body>
</html>